<div class="home">
  <div class="container">
    <div class="hero">
      <div class="hero__left">
        <img src="/static/shared/morehouse1987/morehouse-logo.svg">
        <div class="hero__banner">
          <div class="hero__class-of">Class of 1987</div>
          <div class="hero__thirty">30</div>
          <div class="hero__year">Year</div>
          <div class="hero__reunion">Reunion</div>
          <div class="hero__event-dates">May 17-19, 2017</div>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__main-body">
          <div class="hero__buttons">
            <a href="http://morehouse.edu/reunion" target="_blank" class="hero__button">Register</a>
            <a href="bit.ly/giveMorehouseCollege" target="_blank" class="hero__button">Make Your Gift</a></div>
        </div>
        <div class="hero__navigation">
          <ul>
            <li><a>Events</a></li>
            <li><a>Photos</a></li>
            <li><a>Contact</a></li>
            <li><a>Resources</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="section">
      <main class="main">
        <section class="article">
          <h2 class="article__header">Greetings Brothers from the Class of 1987</h2>
          <p class="article__lede">They say an object in motion tends to stay in motion, and an object at rest tends to stay at rest. It is a simple law of physics. This Founder’s Day is unique. February 14, 2017, marks Morehouse College's 150th Birthday. Can you say, sesquicentennial?…</p>
          <figure>
            <img src="/static/shared/morehouse1987/brothers-singing-hymn.jpg">
          </figure>
          <div class="article__featured-photo">
            <p>Photo description goes here in this area</p>
          </div>
        </section>
        <section class="article">
          <h2 class="article__header">Our Reunion Goals</h2>
          <div class="metrics">
            <div class="metric">
              <div class="metric__label">Class Gift</div>
              <div class="metric__now">$154,025</div>
              <div class="metric__progress"></div>
              <div class="metric__goal">Goal $300,000</div>
            </div>
            <div class="metric">
              <div class="metric__label">Recurring Gifts</div>
              <div class="metric__now">22</div>
              <div class="metric__progress"></div>
              <div class="metric__goal">Goal 47 Classmates</div>
            </div>
            <div class="metric">
              <div class="metric__label">First Time Donors</div>
              <div class="metric__now">47</div>
              <div class="metric__progress"></div>
              <div class="metric__goal">Goal 93 Classmates</div>
            </div>
            <div class="metric">
              <div class="metric__label">Registrations</div>
              <div class="metric__now">22</div>
              <div class="metric__progress"></div>
              <div class="metric__goal">Goal 47 Classmates</div>
            </div>
            <div class="metric">
              <div class="metric__label">Class Participation</div>
              <div class="metric__now">47</div>
              <div class="metric__progress"></div>
              <div class="metric__goal">Goal 93 Classmates</div>
            </div>
          </div>
        </section>
      </main>
      <aside class="aside">
        <div class="aside__header">Countdown</div>
        <div class="countdown">
          <div class="countdown__days">
            <div class="countdown__number">14</div>
            <div class="countdown__label">Days</div>
          </div>
          <div class="countdown__hours">
            <div class="countdown__number">23</div>
            <div class="countdown__label">Hours</div>
          </div>
          <div class="countdown__minutes">
            <div class="countdown__number">59</div>
            <div class="countdown__label">Mins</div>
          </div>
          <div class="countdown__seconds">
            <div class="countdown__number">40</div>
            <div class="countdown__label">Secs</div>
          </div>
        </div>
      </aside>
    </section>
    <footer class="footer"></footer>
  </div>
</div>
