{%- if href -%}
<a class="c-button{% for mod in mods %} c-button--{{ mod }}{% endfor %}" href="{{ href }}">{{ label }}</a>
{%- else -%}
<button class="c-button{% for mod in mods %} c-button--{{ mod }}{% endfor %}"{{ " type=\"submit\"" if submit }}{{ " disabled" if disabled }}>{{ label }}</button>
{%- endif -%}


<div class="block">
  <a class="button">Button</a>
  <a class="button is-white">White</a>
  <a class="button is-light">Light</a>
  <a class="button is-dark">Dark</a>
  <a class="button is-black">Black</a>
  <a class="button is-link">Link</a>
</div>
<div class="block">
  <a class="button is-primary">Primary</a>
  <a class="button is-info">Info</a>
  <a class="button is-success">Success</a>
  <a class="button is-warning">Warning</a>
  <a class="button is-danger">Danger</a>
</div>
