<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'has-js')
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ _target.context.title }} &#9670; Videa Design</title>
    <link rel="stylesheet" href="{{ '/shared/css/vui.css' | path }}">
    <link rel="stylesheet" href="{{ '/shared/css/style.css' | path }}">
    <style>
      .app {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        height: 100%;
        background-color: #f4f6f9;
        color: #000;
        position: relative;
      }
    </style>
  </head>
  <body>
    {{ yield }}
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      // Set the current page
      ga('create', 'UA-91055240-1', 'auto')
      ga('send', 'pageview')
      // When the app is mounted
      window.onNuxtReady((app) => {
        // And the route has changed
        app.$nuxt.$on('routeChanged', (to, from) => {
          // We tell Google Analytic to update the page
          ga('set', 'page', to.fullPath)
          ga('send', 'pageview')
        })
      })
    </script>
  </body>
</html>
