<nav class="vui-site-navigation">
    <div class="vui-container vui-grid vui-grid--align-spread vui-grid--vertical-align-center">
        <ul class="vui-grid vui-grow">
            <li>
                <div class="vui-dropdown-trigger vui-dropdown-trigger--site-nav vui-dropdown-trigger--click dropdown"><a aria-haspopup="true" aria-live="assertive" style="margin-right: 0px;"><span class="vui-m-right--xx-small" style="color: white;">Order Management</span><svg class="vui-icon vui-align-middle vui-icon--x-small" style="color: rgb(66, 150, 180); margin-right: 0px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/icons.svg' | path }}#icon-caret-down"></use></svg></a>
                    <div class="vui-dropdown vui-dropdown--site-nav">
                        <ul role="menu" class="dropdown-menu dropdown__list vui-dropdown__list">
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Pending Orders</p>
                                </a>
                            </li>
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Pending Makegoods</p>
                                </a>
                            </li>
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Open Pre-Empts</p>
                                </a>
                            </li>
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Order Search</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="vui-dropdown-trigger vui-dropdown-trigger--site-nav vui-dropdown-trigger--click dropdown"><a aria-haspopup="true" aria-live="assertive" style="margin-right: 0px;"><span class="vui-m-right--xx-small" style="color: white;">Reporting</span><svg class="vui-icon vui-align-middle vui-icon--x-small" style="color: rgb(66, 150, 180); margin-right: 0px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/icons.svg' | path }}#icon-caret-down"></use></svg></a>
                    <div class="vui-dropdown vui-dropdown--site-nav">
                        <ul role="menu" class="dropdown-menu dropdown__list vui-dropdown__list">
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Account Performance</p>
                                </a>
                            </li>
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Program Revenue</p>
                                </a>
                            </li>
                            <li class="dropdown-item vui-dropdown__item">
                                <a role="menuitem">
                                    <p class="vui-truncate">Order Reporting</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/sellers/price-guide/early-morning/" class="">Price Guide</a></li>
            <li><a href="/sellers/avails" class="">Avails</a></li>
            <li><a href="/sellers/campaign-performance" class="">Campaign Performance</a></li>
        </ul>
        <ul class="actions vui-align-middle">
            <li><button class="vui-button vui-button--brand" style="color: white !important; white-space: nowrap;"><svg class="vui-icon vui-align-middle vui-m-right--x-small vui-icon--x-small"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/icons.svg' | path }}#icon-cog"></use></svg><span>Settings</span><span class="vui-assistive-text">Settings</span></button></li>
        </ul>
    </div>
</nav>
