<footer role="contentinfo" class="vui-site-footer">
    <div class="vui-container">
        <nav class="vui-navigation--footer vui-grid vui-grid--align-center">
            <ul class="vui-list--horizontal vui-has-dividers--right">
                <li class="vui-list__item"><a href="/privacy" class="">Privacy Policy</a></li>
                <li class="vui-list__item"><a href="/terms" class="">Terms &amp; Conditions</a></li>
            </ul>
        </nav>
        <p>3390 Peachtree Road, NE, Suite 400 Atlanta, GA 30326 <br> Copyright © 2014–2017 Videa. All rights reserved.
        </p>
    </div>
    <!---->
    <div transition="slideright" class="aside right" style="width:350px;display:none">
        <div class="aside-dialog">
            <div class="aside-content">
                <div class="aside-header vui-grid vui-grid--align-spread">
                    <h4 class="aside-title vui-text-heading--medium">Page Info</h4>
                </div>
                <div class="aside-body">
                    <h4 class="vui-text-heading--small">Page Information</h4>
                    <div class="aside-footer"><button type="button" class="vui-button vui-button--brand">Close</button></div>
                </div>
            </div>
        </div>
    </div>
</footer>
