.tv
  position relative
  width 200px
  height 150px
  margin 20px 0
  background rebeccapurple
  border-radius 50% / 10%
  color white
  text-align center
  text-indent .1em

.tv:before
  content ''
  position absolute
  top 10%
  bottom 10%
  right -5%
  left -5%
  background inherit
  border-radius 5% / 50%

.element
  background url(images/example.png) center center no-repeat, url(images/example-2.png) top left repeat

.element
  background-color red
  transition background-color linear 0.8s

.element:hover
  background-color blue
