<div class="card">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5248/mountains.jpg"/>
  <h3>My Awesome Adventure</h3>
  <p>Swag cold-pressed dreamcatcher Odd Future meh DIY. Stumptown plaid gentrify fanny pack, Thundercats listicle heirloom slow-carb health goth sustainable literally fashion axe crucifix food truck. Authentic deep v banjo, tattooed flexitarian meggings DIY letterpress aesthetic hella chillwave forage readymade master cleanse.</p>
  <p>Kickstarter DIY skateboard, forage PBR brunch ugh selvage Schlitz pork belly selfies mustache put a bird on it leggings PBR&B. Tumblr Brooklyn Shoreditch fixie, sartorial 3 wolf moon cornhole street art Wes Anderson lumbersexual sriracha.</p>
</div>
