.cal
  border-collapse collapse
  table-layout fixed
  width 100%
  max-width 100%
  text-align center
  font-family "Lucida Grande", Verdana, Arial, sans-serif

.cal caption
  text-align left
  border-bottom 1px solid #ddd
  line-height 2
  font-size 1.5em

.cal-weekend
  background-color #fef0f0
  background-color rgba(255, 0, 0, 0.05)

.cal th,
.cal td
  line-height 3
  padding 0
  width 14.285%

.cal td
  border 1px solid #eee

.cal thead
  border-bottom 3px solid #666

.cal a
  display block
  text-decoration none
  color #2f273c

.cal a:hover,
.col a:focus
  background-color #cde7ca
  background-color rgba(167, 240, 210, 0.3)

.cal-inactive
  background-color #efefef
  color #aaa
  cursor not-allowed

.cal-current
  background-color #7d5977
  background-color rgba(71, 14, 62, 0.6)
