<div class="flash-messages">
  <div class="flash">
    <h1 class="flash__text">This is a default flash message</h1>
    <button class="flash__remove">×</button>
  </div>
  <div class="flash flash--success">
    <p class="flash__text">This is a success flash message</p>
    <button class="flash__remove">×</button>
  </div>
  <div class="flash flash--warn">
    <p class="flash__text">This is a warning flash message</p>
    <button class="flash__remove">×</button>
  </div>
  <div class="flash flash--error">
    <p class="flash__text">This is an error flash message</p>
    <button class="flash__remove">×</button>
  </div>
</div>
