<ul class="flex-card-list">
  <li class="flex-card-listitem">
    <div class="flex-card">
      <div class="flex-card-image">
        <i class="fa fa-gears"></i>
      </div>
      <div class="flex-card-content">
        <h3 class="flex-card-heading">Support</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a class="flex-card-button">href="#" Go</a>
      </div>
    </div>
  </li>
  <li class="flex-card-listitem">
    <div class="flex-card">
      <div class="flex-card-image">
        <i class="fa fa-heart"></i>
      </div>
      <div class="flex-card-content">
        <h3 class="flex-card-heading">Customer Care</h3>
        <p>I'm a card and I'm first.</p>
        <a class="flex-card-button">href="#"  Go</a>
      </div>
    </div>
  </li>
  <li class="flex-card-listitem">
    <div class="flex-card">
      <div class="flex-card-image">
        <i class="fa fa-server"></i>
      </div>
      <div class="flex-card-content">
        <h3 class="flex-card-heading">Appliance Monitor</h3>
        <p>I'm a card and I'm first.</p>
        <a class="flex-card-button">href="#"  Go</a>
      </div>
    </div>
  </li>
  <li class="flex-card-listitem">
    <div class="flex-card">
      <div class="flex-card-image">
        <i class="fa fa-line-chart"></i>
      </div>
      <div class="flex-card-content">
        <h3 class="flex-card-heading">Revenue Management</h3>
        <p>I'm a card and I'm first.</p>
        <a class="flex-card-button">href="#"  Go</a>
      </div>
    </div>
  </li>
</ul>
