/* Included color classes..
  .red
  .blue
  .yellow
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800)
figure
  font-family 'Raleway', Arial, sans-serif
  position relative
  float left
  overflow hidden
  margin 10px 1%
  min-width 220px
  max-width 310px
  max-height 220px
  width 100%
  background #000000
  color #ffffff
  text-align center
  box-shadow 0 0 5px rgba(0, 0, 0, 0.15)

figure *
  -webkit-box-sizing border-box
  box-sizing border-box
  transition all 0.4s ease-in-out

figure img
  max-width 100%
  position relative
  opacity 0.4

figure figcaption
  position absolute
  top 0
  left 0
  bottom 0
  right 0

figure h2
  position absolute
  left 40px
  right 40px
  display inline-block
  background #000000
  transform skew(-10deg) rotate(-10deg) translate(0, -50%)
  padding 12px 5px
  margin 0
  top 50%
  text-transform uppercase
  font-weight 400

figure h2 span
  font-weight 800

figure:before
  height 100%
  width 100%
  top 0
  left 0
  content ''
  background #ffffff
  position absolute
  transition all 0.3s ease-in-out
  transform rotate(110deg) translateY(-50%)

figure a
  left 0
  right 0
  top 0
  bottom 0
  position absolute
  z-index 1

figure.blue
  background #123851

figure.blue h2
  background #0a212f

figure.red
  background #581a14

figure.red h2
  background #36100c

figure.yellow
  background #7f5006

figure.yellow h2
  background #583804

figure:hover img,
figure.hover img
  opacity 1
  transform scale(1.1)

figure:hover h2,
figure.hover h2
  transform skew(-10deg) rotate(-10deg) translate(-150%, -50%)

figure:hover:before,
figure.hover:before
  transform rotate(110deg) translateY(-150%)
