<figure class="snip1104 red">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
  <figcaption>
    <h2>Jean <span> Myers</span></h2>
  </figcaption>
  <a href="#"></a>
</figure>

<figure class="snip1104 blue hover">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample34.jpg" alt="sample34" />
  <figcaption>
    <h2>Lynn <span> Reyes</span></h2>
  </figcaption>
  <a href="#"></a>
</figure>

<figure class="snip1104">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg" alt="sample35" />
  <figcaption>
    <h2>Tracy <span> Logan</span></h2>
  </figcaption>
  <a href="#"></a>
</figure>
