<table current-sorting="currentSorting" grid-columns="gridColumns" items="items" sorting-changed="sortingChanged" class="vui-table vui-no-row-hover">
  <thead>
    <tr>
      <th style="max-width: 100px; min-width: 100px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Station Order #</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 100px; min-width: 100px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Videa Order #</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Advertiser</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Agency</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Product</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 80px; min-width: 80px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Est. #</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 100px; min-width: 100px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Revenue</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Flight Start</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Flight End</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Campaign Delivery %</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 110px; min-width: 110px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Current RTGs/IMPs</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 130px; min-width: 130px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Purchased GRPs/IMPs To Date</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 100px; min-width: 100px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">+/-</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 115px; min-width: 115px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Current HH GRPs/IMPs</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 130px; min-width: 130px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Total Purchased GRPs/ IMPs</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 100px; min-width: 100px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Demo</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
      <th style="max-width: 120px; min-width: 120px;" class="vui-cell-wrap"><a href="" current-sorting="" sortable="sortable" sorting-changed="sortingChanged(column)" class="vui-grid vui-grid--align-spread"><span class="vui-align-middle">Weeks Remainining</span><span class="vui-align-middle">
            <svg style="color: rgba(225, 229, 230, 0.498039);" class="vui-icon vui-align-middle vui-icon--x-small">
              <use xlink:href="{{ '/icons.svg' | path }}#icon-sort"></use>
            </svg></span></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td title="5004" class="vui-truncate"><a href="/sellers/campaign-performance/1">5004</a></td>
      <td title="V0005004" class="vui-truncate"><a click.prevent="showCampaignDetails(item)" href="">V0005004</a></td>
      <td title="WHATABURGER" class="vui-truncate">WHATABURGER</td>
      <td title="KSM AUSTIN" class="vui-truncate">KSM AUSTIN</td>
      <td title="CORPORATE" class="vui-truncate">CORPORATE</td>
      <td title="0016" class="vui-truncate vui-text-align--right">0016</td>
      <td title="5230" class="vui-truncate vui-text-align--right">5230</td>
      <td title="09/26/2016" class="vui-truncate">09/26/2016</td>
      <td title="12/25/2016" class="vui-truncate">12/25/2016</td>
      <td class="vui-truncate"></td>
      <td title="" class="vui-truncate vui-text-align--right"></td>
      <td title="" class="vui-truncate vui-text-align--right"></td>
      <td title="" class="vui-truncate vui-text-align--right"></td>
      <td title="" class="vui-truncate vui-text-align--right"></td>
      <td title="88.3" class="vui-truncate vui-text-align--right">88.3</td>
      <td title=" P18-49" class="vui-truncate vui-text-align--right"> P18-49</td>
      <td title="2" class="vui-truncate vui-text-align--right">2</td>
    </tr>
  </tbody>
</table>
