/// Morehouse1987
color-white          = #FFF
color-black          = #000
color-claret         = #8A152B
color-buddha-gold    = #B4A203
color-fiord          = #4C5E71
color-heathered-gray = #B9B28D
color-mine-shaft     = #444
color-french-gray    = #B0B0B1
color-alto           = #DEDEDE
color-boulder        = #777

/// Videa

// primary
color-aqua           = #83C8BC
color-teal           = #64B1BC
color-gray-blue      = #4296b4
color-navy-blue      = #276092
color-dark-blue      = #1d4f90

// primary
color-monte-carlo    = #83C8BC
color-fountain-blue  = #64B1BC
color-boston-blue    = #4296B4
color-st-tropaz      = #276092
color-fun-blue       = #1D4F90

// secondary
color-beige          = #FDECBB
color-light-gray     = #E0E4E5
color-dark-gray      = #52545d
color-orange         = #F58220
color-red            = #C5203E
color-purple         = #692565

// secondary
color-beeswax        = #FDECBB
color-porcelain      = #E0E4E5
color-trout          = #52545D
color-ecstasy        = #F58220
color-cardinal       = #C5203E
color-plum           = #692565

color-black          = color-trout
color-white          = color-porcelain
color-primary        = color-plum
color-secondary      = color-ecstasy

/// Status Colors
color-success        = hsla(153, 94%, 27%, 1)
color-error          = hsla(2, 58%, 48%, 1)
color-warn           = hsla(33, 100%, 68%, 1)

/// Other
color-highlight      = hsla(195, 46%, 95%, 1) // #ECF5F8
color-link           = hsla(196, 99%, 32%, 1) // #0178A3
color-link-active    = hsla(214, 66%, 34%, 1)
color-sort-arrow     = hsla(192, 9%, 89%, .5)
color-expanded-cell  = hsla(192, 42%, 86%, 1.0)

/// cobalt 2
color-yellow         = #FFC600
color-orange         = #FF9D00
color-mint           = #2AFFDF
color-blue           = #193549
color-off-blue       = #0D3A58 // (use on variable bgs)
color-dusty-blue     = #35434d
color-dark-blue      = #15232D
color-pink           = #FB94FF
color-light-blue     = #9EFFFF
