// primary
aqua: #83c8bc
teal: #64b1bc
gray-blue: #4296b4
navy-blue: #276092
dark-blue: #1d4f90

// secondary
beige: #fdecbb
light-gray: #e0e4e5
dark-gray: #52545d
orange: #f58220
red: #c5203e
purple: #692565

// other
color-highlight: hsla(195, 46%, 95%, 1) // #ecf5f8
color-link: hsla(196, 99%, 32%, 1) // #0178a3
color-link-active: hsla(214, 66%, 34%, 1)
color-sort-arrow: hsla(192, 9%, 89%, .5)
color-success: hsla(153, 94%, 27%, 1)
color-error: hsla(2, 58%, 48%, 1)
color-warn: hsla(33, 100%, 68%, 1)
color-expanded-cell: hsla(192, 42%, 86%, 1.0)

// cobalt 2
yellow: #ffc600
orange: #FF9D00
mint: #2AFFDF
blue: #193549
off-blue: #0D3A58 // (use on variable bgs)
dusty-blue: #35434d
dark-blue: #15232D
pink: #FB94FF
light-blue: #9EFFFF
