progress[value]
  appearance none
  height 48px
  width 250px

.progress-bar
  background-color color-alto
  border-radius 2px
  box-shadow 0 2px 3px rgba(0, 0, 0, 0.25) inset
  display block
  height 48px
  position relative
  width 250px

.progress-bar > span
  background-color color-claret
  border-radius 2px
  display block
  height 100%
  text-indent -9999px
