// // Make a Request
// stylus_content = RestClient.post('http://sass2stylus.com/api', {'file' => File.new('YOUR-COMPASS-FILE.scss')})
// // Parse a Response
// File.open('YOUR-NEW-STYLUS-FILE.styl', 'w') { |file| file.write(stylus_content) }

border-radius-small              = 0.125rem
border-radius-medium             = 0.25rem
border-radius-large              = 0.5rem
border-radius-pill               = 15rem
border-radius-circle             = 50%

breakpoint-xs-min                = 30 // 480px
breakpoint-sm-min                = 48 // 768px
breakpoint-md-min                = 64 // 1024px
breakpoint-lg-min                = 75 // 1200px

/// Morehouse1987
color-white                      = #fff
color-black                      = #000
color-claret                     = #8A152B
color-buddha-gold                = #B4A203
color-fiord                      = #4C5E71
color-heathered-gray             = #B9B28D
color-mine-shaft                 = #444
color-french-gray                = #B0B0B1
color-alto                       = #DEDEDE
color-boulder                    = #777

/// Videa

//// primary
color-aqua           = #83C8BC
color-teal           = #64B1BC
color-gray-blue      = #4296b4
color-navy-blue      = #276092
color-dark-blue      = #1d4f90

//// primary
color-monte-carlo    = #83C8BC
color-fountain-blue  = #64B1BC
color-boston-blue    = #4296B4
color-st-tropaz      = #276092
color-fun-blue       = #1D4F90

//// secondary
color-beige          = #FDECBB
color-light-gray     = #E0E4E5
color-dark-gray      = #52545d
color-orange         = #F58220
color-red            = #C5203E
color-purple         = #692565

//// secondary
color-beeswax        = #FDECBB
color-porcelain      = #E0E4E5
color-trout          = #52545D
color-ecstasy        = #F58220
color-cardinal       = #C5203E
color-plum           = #692565

////
color-black          = color-trout
color-white          = color-porcelain
color-primary        = color-plum
color-secondary      = color-ecstasy

/// Status Colors
color-success        = hsla(153, 94%, 27%, 1)
color-error          = hsla(2, 58%, 48%, 1)
color-warn           = hsla(33, 100%, 68%, 1)

/// Other
color-highlight      = hsla(195, 46%, 95%, 1) // #ECF5F8
color-link           = hsla(196, 99%, 32%, 1) // #0178A3
color-link-active    = hsla(214, 66%, 34%, 1)
color-sort-arrow     = hsla(192, 9%, 89%, .5)
color-expanded-cell  = hsla(192, 42%, 86%, 1.0)

/// cobalt 2
color-yellow         = #FFC600
color-orange         = #FF9D00
color-mint           = #2AFFDF
color-blue           = #193549
color-off-blue       = #0D3A58 // (use on variable bgs)
color-dusty-blue     = #35434d
color-dark-blue      = #15232D
color-pink           = #FB94FF
color-light-blue     = #9EFFFF

container-min-width              = 1024px
container-max-width              = 1440px

duration-instantly               = 0s
duration-immediately             = 0.05s
duration-quickly                 = 0.1s
duration-promptly                = 0.2s
duration-slowly                  = 0.4s
duration-paused                  = 3.2s

elevation-3-below                = -3
elevation-0                      = 0
elevation-2                      = 2
elevation-4                      = 4
elevation-8                      = 8
elevation-16                     = 16
elevation-32                     = 32

elevation-shadow-3-below         = inset 0px 3px 3px 0px rgba(0, 0, 0, 0.16)
elevation-shadow-0               = none
elevation-shadow-2               = 0px 2px 2px 0px rgba(0, 0, 0, 0.16)
elevation-shadow-4               = 0px 4px 4px 0px rgba(0, 0, 0, 0.16)
elevation-shadow-8               = 0px 8px 8px 0px rgba(0, 0, 0, 0.16)
elevation-shadow-16              = 0px 16px 16px 0px rgba(0, 0, 0, 0.16)
elevation-shadow-32              = 0px 32px 32px 0px rgba(0, 0, 0, 0.16)

elevation-inverse-shadow-3-below = inset 0px -3px 3px 0px rgba(0, 0, 0, 0.16)
elevation-inverse-shadow-0       = none
elevation-inverse-shadow-2       = 0px -2px 2px 0px rgba(0, 0, 0, 0.16)
elevation-inverse-shadow-4       = 0px -4px 4px 0px rgba(0, 0, 0, 0.16)
elevation-inverse-shadow-8       = 0px -8px 8px 0px rgba(0, 0, 0, 0.16)
elevation-inverse-shadow-16      = 0px -16px 16px 0px rgba(0, 0, 0, 0.16)
elevation-inverse-shadow-32      = 0px -32px 32px 0px rgba(0, 0, 0, 0.16)

font-family                      = 'Roboto', Arial, sans-serif
font-family-serif                = TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif
font-family-body                 = 'Roboto-Regular', Arial, sans-serif
font-family-light                = 'Roboto-Light', Arial, sans-serif
font-family-strong               = 'Roboto-Bold', Arial, sans-serif
font-family-condensed            = 'Roboto Condensed', 'Helvetica Neue', Arial, sans-serif
font-weight-light                = 300
font-weight-regular              = 400
font-weight-bold                 = 700

font-size-x-small                = 0.625rem
font-size-small                  = 0.875rem
font-size-medium                 = 1rem
font-size-large                  = 1.25rem
font-size-x-large                = 1.5rem
font-size-xx-large               = 2rem

line-height-heading              = 1.25
line-height-text                 = 1.375
line-height-reset                = 1
line-height-tab                  = 3rem
line-height-button               = 2.125rem
line-height-button-small         = 1.875rem

shadow-action-overflow-footer    = 0 -2px 4px #f4f6f9
shadow-overlay                   = 0 -2px 4px rgba(0, 0, 0, 0.07)
shadow-drag                      = 0px 2px 4px 0px rgba(0, 0, 0, 0.4)
shadow-button                    = 0px 1px 1px 0px rgba(0, 0, 0, 0.05)
shadow-drop-down                 = 0px 2px 3px 0px rgba(0, 0, 0, 0.16)
shadow-header                    = 0 2px 4px rgba(0, 0, 0, 0.07)
shadow-button-focus              = 0 0 3px #0070d2
shadow-button-focus-inverse      = 0 0 3px #e0e5ee

size-xx-small                    = 6rem
size-x-small                     = 12rem
size-small                       = 15rem
size-medium                      = 20rem
size-large                       = 25rem
size-x-large                     = 40rem
size-xx-large                    = 60rem

spacing-xxx-small                = 0.125rem
spacing-xx-small                 = 0.25rem
spacing-x-small                  = 0.5rem
spacing-small                    = 0.75rem
spacing-medium                   = 1rem
spacing-large                    = 1.5rem
spacing-x-large                  = 2rem
spacing-xx-large                 = 3rem
spacing-xxx-large                = 4.5rem

z-index-toast                    = 10000
z-index-modal                    = 9000
z-index-overlay                  = 8000
z-index-dropdown                 = 7000
z-index-dialog                   = 6000
z-index-popup                    = 5000
z-index-default                  = 1
z-index-deepdive                 = -99999

//
img-size-mini                    = 35px
img-size-tiny                    = 80px
img-size-small                   = 150px
img-size-medium                  = 300px
img-size-large                   = 450px
img-size-big                     = 600px
img-size-huge                    = 800px
img-size-massive                 = 960px
