<div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>


<div class="columns">
  <div class="column is-three-quarters">
    <p class="notification is-info">
      <code class="html">is-three-quarters</code>
    </p>
  </div>
  <div class="column">
    <p class="notification is-warning">Auto</p>
  </div>
  <div class="column">
    <p class="notification is-danger">Auto</p>
  </div>
</div>

<div class="columns">
  <div class="column is-two-thirds">
    <p class="notification is-info">
      <code class="html">is-two-thirds</code>
    </p>
  </div>
  <div class="column">
    <p class="notification is-warning">Auto</p>
  </div>
  <div class="column">
    <p class="notification is-danger">Auto</p>
  </div>
</div>

<div class="columns">
  <div class="column is-half">
    <p class="notification is-info">
      <code class="html">is-half</code>
    </p>
  </div>
  <div class="column">
    <p class="notification is-warning">Auto</p>
  </div>
  <div class="column">
    <p class="notification is-danger">Auto</p>
  </div>
</div>

<div class="columns">
  <div class="column is-one-third">
    <p class="notification is-info">
      <code class="html">is-one-third</code>
    </p>
  </div>
  <div class="column">
    <p class="notification is-success">Auto</p>
  </div>
  <div class="column">
    <p class="notification is-warning">Auto</p>
  </div>
</div>

<div class="columns">
  <div class="column is-one-quarter">
    <p class="notification is-info">
      <code class="html">is-one-quarter</code>
    </p>
  </div>
  <div class="column">
    <p class="notification is-success">Auto</p>
  </div>
</div>



<div class="columns is-mobile">
  <div class="column">1</div>
  <div class="column">2</div>
  <div class="column">3</div>
  <div class="column">4</div>
</div>

<div class="columns is-desktop">
  <div class="column">1</div>
  <div class="column">2</div>
  <div class="column">3</div>
  <div class="column">4</div>
</div>

<div class="columns is-mobile">
  <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
    <code>is-half-mobile</code><br>
    <code>is-one-third-tablet</code><br>
    <code>is-one-quarter-desktop</code>
  </div>
  <div class="column">1</div>
  <div class="column">1</div>
  <div class="column">1</div>
  <div class="column">1</div>
</div>


<div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-half">
    <code>is-half</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column">
    Auto
  </div>
</div>

<div class="columns is-gapless">
  <div class="column">First column</div>
  <div class="column">Second column</div>
  <div class="column">Third column</div>
  <div class="column">Fourth column</div>
</div>


<div class="columns is-gapless is-multiline is-mobile">
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-half">
    <code>is-half</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column is-one-quarter">
    <code>is-one-quarter</code>
  </div>
  <div class="column">
    Auto
  </div>
</div>


<div class="columns">
  <div class="column is-narrow">
    <div class="box" style="width: 200px;">
      <p class="title is-5">Narrow column</p>
      <p class="subtitle">This column is only 200px wide.</p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="title is-5">Flexible column</p>
      <p class="subtitle">This column will take up the remaining space available.</p>
    </div>
  </div>
</div>
