<div class="campaign-performance-legend">
  <span class="vui-m-right--medium">
    Metered
  </span>
  <span class="vui-m-right--medium">
    <svg
      style="color: rgb(59, 127, 54);"
      class="vui-icon vui-align-middle vui-m-right--x-small vui-icon--x-small"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="icons.svg#icon-stop"
      ></use>
    </svg>
    ≥ 90%
  </span>
  <span class="vui-m-right--medium">
    <svg
      style="color: rgb(245, 130, 32);"
      class="vui-icon vui-align-middle vui-m-right--x-small vui-icon--x-small"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="icons.svg#icon-stop"
      ></use>
    </svg>
    80%-89%
  </span>
  <span class="vui-m-right--medium">
    <svg
      style="color: rgb(197, 16, 61);"
      class="vui-icon vui-align-middle vui-m-right--x-small vui-icon--x-small"
    >
      <use
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xlink:href="icons.svg#icon-stop"
      ></use>
    </svg>
    ≤ 79%
  </span>
</div>
