.article
  margin-bottom: 32px

.article__header
  color #000
  font-family Roboto-Bold
  font-size 36px
  // line-height 3 // 48px
  margin-bottom 32px

.article__lede
  color #000
  font-family Roboto-Regular
  font-size 24px
  line-height 36px
  margin-bottom 32px

.article__featured-photo
  color color-french-gray
  font-family Roboto-Regular
  font-size 1.125rem // 18px
  line-height 1.5 // 24px
  text-align right

.metrics
  display flex
  flex-wrap wrap
  justify-content space-between
