.aside
  background-color color-heathered-gray
  padding 32px
  width 436px

.aside__header
  color #000
  font-family Roboto-Regular
  font-size 1.5rem // 24px
  line-height 2 // 32px
  text-transform uppercase
