.countdown
  display flex
  justify-content space-between
  width 100%
  > *
    // align-items center
    display flex
    flex-direction column
    justify-content center

.countdown__number
  align-items center
  background-color color-claret
  color color-white
  display flex
  font-family Roboto-Regular
  font-size 36px
  height 80px
  justify-content center
  // line-height 3 // 48px
  text-align center
  width 80px


.countdown__label
  color color-claret
  font-family Roboto-Regular
  font-size 20px
  // line-height 1.625 // 26px
  text-transform uppercase
