@font-face
  font-family: 'Salesforce Sans'
  src: url("/static/shared/fonts/webfonts/SalesforceSans-Light.woff2") format("woff2"), url("/static/shared/fonts/webfonts/SalesforceSans-Light.woff") format("woff")
  font-weight: 300

@font-face
  font-family: 'Salesforce Sans'
  src: url("/static/shared/fonts/webfonts/SalesforceSans-LightItalic.woff2") format("woff2"), url("/static/shared/fonts/webfonts/SalesforceSans-LightItalic.woff") format("woff")
  font-style: italic
  font-weight: 300

@font-face
  font-family: 'Salesforce Sans'
  src: url("/static/shared/fonts/webfonts/SalesforceSans-Regular.woff2") format("woff2"), url("/static/shared/fonts/webfonts/SalesforceSans-Regular.woff") format("woff")
  font-weight: 400

@font-face
  font-family: 'Salesforce Sans'
  src: url("/static/shared/fonts/webfonts/SalesforceSans-Italic.woff2") format("woff2"), url("/static/shared/fonts/webfonts/SalesforceSans-Italic.woff") format("woff")
  font-style: italic
  font-weight: 400

@font-face
  font-family: 'Salesforce Sans'
  src: url("/static/shared/fonts/webfonts/SalesforceSans-Bold.woff2") format("woff2"), url("/static/shared/fonts/webfonts/SalesforceSans-Bold.woff") format("woff")
  font-weight: 700

@font-face
  font-family: 'Salesforce Sans'
  src: url("/static/shared/fonts/webfonts/SalesforceSans-BoldItalic.woff2") format("woff2"), url("/static/shared/fonts/webfonts/SalesforceSans-BoldItalic.woff") format("woff")
  font-style: italic
  font-weight: 700
