.hero
  display flex
  height 656px
  text-align center

.hero__left
  background-color color-black
  height 656px
  padding 28px 32px
  width 376px

.hero__right
  background-image url('/static/shared/Morehouse1987/hero-background.jpg')
  background-position 100% 0
  background-repeat no-repeat
  display flex
  flex-direction column
  height 656px
  width 1064px

.hero__class-of
  color color-white
  font-family font-family-serif
  font-size 36px
  // line-height 2.625 // 42px
  line-height 1
  margin 1rem 0 1rem 0

.hero__thirty
  color color-white
  font-family font-family-serif
  font-size 20rem // 320px
  // line-height 22.125 // 354px
  letter-spacing -2rem
  line-height 1
  margin -2rem 0 0 -2rem
  text-align center

.hero__year
  color color-white
  font-family font-family-serif
  font-size 6.625rem // 106px
  // line-height 7.635 // 122px
  line-height 1
  margin-top -2rem
  text-transform uppercase

.hero__reunion
  color color-white
  font-family font-family-serif
  font-size 4rem // 64px
  // line-height 4.625 // 74px
  line-height 1
  margin-bottom 0.5rem 0 2rem 0
  text-transform uppercase

.hero__event-dates
  color color-white
  font-family font-family-serif
  font-size 2.25rem // 36px
  font-weight 200
  // line-height 2.625 // 42px
  line-height 1
  margin-bottom 0.5rem
  text-transform uppercase

.hero__right
  display flex
  flex-direction column
  height 100%
  justify-content flex-end
  width 1064px

.hero__main-body
  flex 1

.hero__buttons
  align-items flex-end
  display flex
  height 100%
  justify-content center
  padding-bottom 48px
  vertical-align middle

.hero__button
  align-items center
  background-color color-buddha-gold
  border none
  border-radius 0.25rem
  color color-white
  display flex
  font-size: 24px
  justify-content center
  height 64px
  margin-right 4rem
  text-align center
  text-transform uppercase
  vertical-align middle
  width 320px

.hero__navigation
  background-color color-fiord
  height 5rem // 80px
  ul
    align-items center
    color: color-white
    display: flex
    font-size 24px
    height: 100%
    justify-content: space-around
    text-transform: uppercase
    a
      color white
